<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.karya.livedataviewmodel">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/notes"
        android:label="Daily Notes"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LiveDataViewModel">
        <activity
            android:name=".NotesApp.splash.SplashScreenAct"
            android:theme="@style/SplashScreenTheme"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".NotesApp.activities.NoteDetailActivity"
            android:exported="false"
            android:label="@string/title_activity_note_detail"
            android:theme="@style/Theme.LiveDataViewModel.NoActionBar" />
        <activity
            android:name=".NotesApp.activities.MainActivity"
            android:exported="true">
        </activity>
    </application>

</manifest>